@page
@model IndexModel
@{
    ViewData["Title"] = "Lobby";
}

<h1>Bienvenido a Escribiendo rapidirijillo</h1>
<form method="post">
    <label for="playerName">Nombre de Usuario:</label>
    <input type="text" id="playerName" name="PlayerName" required />
    <br>
    <label for="gameId">ID de la Sala:</label>
    <input type="number" id="gameId" name="GameId" />

    <button type="submit">Unirse al Juego</button>
    <button type="submit">Crear Sala</button>
</form>